 :root {
  --primary-bg-color: #fcf6bd;
  --secondary-color: #ff99c8;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffa8;
    color: black;
    max-height: 100vh;
}

header {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--secondary-color);
    border-radius: 0 0 1rem 1rem;
    height: 3rem;
}

main {
    flex-grow: 1;
}

/* huvud title */
.page-title {
    margin: 0;
}

footer {
    height: 3rem;
    background-color: white;
}

/* bara la style för var darkmode knappen ska vara */
.dark-mode {
    background-color: rgb(255, 162, 162);
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
}